@font-face {
  font-family: "iconfont"; /* Project id 2900641 */
  src: url('//at.alicdn.com/t/font_2900641_o9hrp1gj4ps.woff2?t=1635433507969') format('woff2'),
       url('//at.alicdn.com/t/font_2900641_o9hrp1gj4ps.woff?t=1635433507969') format('woff'),
       url('//at.alicdn.com/t/font_2900641_o9hrp1gj4ps.ttf?t=1635433507969') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-7z:before {
  content: "\e69b";
}

.icon-aep:before {
  content: "\e69c";
}

.icon-asp:before {
  content: "\e69d";
}

.icon-aet:before {
  content: "\e69e";
}

.icon-ai:before {
  content: "\e69f";
}

.icon-bak:before {
  content: "\e6a0";
}

.icon-aex:before {
  content: "\e6a1";
}

.icon-aac:before {
  content: "\e6a2";
}

.icon-a-3gp:before {
  content: "\e6a3";
}

.icon-bmp:before {
  content: "\e6a4";
}

.icon-cpp:before {
  content: "\e6a5";
}

.icon-avi:before {
  content: "\e6a6";
}

.icon-aepx:before {
  content: "\e6a7";
}

.icon-aspx:before {
  content: "\e6a8";
}

.icon-csv:before {
  content: "\e6a9";
}

.icon-cmd:before {
  content: "\e6aa";
}

.icon-c:before {
  content: "\e6ab";
}

.icon-bat:before {
  content: "\e6ac";
}

.icon-div:before {
  content: "\e6ad";
}

.icon-dll:before {
  content: "\e6ae";
}

.icon-doc:before {
  content: "\e6af";
}

.icon-cs:before {
  content: "\e6b0";
}

.icon-eps:before {
  content: "\e6b1";
}

.icon-dbf:before {
  content: "\e6b2";
}

.icon-css:before {
  content: "\e6b3";
}

.icon-flv:before {
  content: "\e6b4";
}

.icon-db:before {
  content: "\e6b5";
}

.icon-dot:before {
  content: "\e6b6";
}

.icon-h:before {
  content: "\e6b7";
}

.icon-gif:before {
  content: "\e6b8";
}

.icon-docx:before {
  content: "\e6b9";
}

.icon-htm:before {
  content: "\e6ba";
}

.icon-jpg:before {
  content: "\e6bb";
}

.icon-exe:before {
  content: "\e6bc";
}

.icon-jpeg:before {
  content: "\e6bd";
}

.icon-json:before {
  content: "\e6be";
}

.icon-html:before {
  content: "\e6bf";
}

.icon-jsp:before {
  content: "\e6c0";
}

.icon-java:before {
  content: "\e6c1";
}

.icon-m4v:before {
  content: "\e6c2";
}

.icon-mkv:before {
  content: "\e6c3";
}

.icon-js:before {
  content: "\e6c4";
}

.icon-mdf:before {
  content: "\e6c5";
}

.icon-mp3:before {
  content: "\e6c6";
}

.icon-mp4:before {
  content: "\e6c7";
}

.icon-mdb:before {
  content: "\e6c8";
}

.icon-php:before {
  content: "\e6c9";
}

.icon-mov:before {
  content: "\e6ca";
}

.icon-lib:before {
  content: "\e6cb";
}

.icon-png:before {
  content: "\e6cc";
}

.icon-pptx:before {
  content: "\e6cd";
}

.icon-psd:before {
  content: "\e6ce";
}

.icon-ppt:before {
  content: "\e6cf";
}

.icon-pdf:before {
  content: "\e6d0";
}

.icon-rar:before {
  content: "\e6d1";
}

.icon-mpeg:before {
  content: "\e6d2";
}

.icon-raw:before {
  content: "\e6d3";
}

.icon-rm:before {
  content: "\e6d4";
}

.icon-xml:before {
  content: "\e6d5";
}

.icon-wav:before {
  content: "\e6d6";
}

.icon-txt:before {
  content: "\e6d7";
}

.icon-tiff:before {
  content: "\e6d8";
}

.icon-weizhiwenjian:before {
  content: "\e6d9";
}

.icon-rtf:before {
  content: "\e6da";
}

.icon-py:before {
  content: "\e6db";
}

.icon-xd:before {
  content: "\e6dc";
}

.icon-svg:before {
  content: "\e6dd";
}

.icon-zip:before {
  content: "\e6de";
}

.icon-rmvb:before {
  content: "\e6df";
}

.icon-wdb:before {
  content: "\e6e0";
}

.icon-xlsx:before {
  content: "\e6e1";
}

.icon-wps:before {
  content: "\e6e2";
}

.icon-wma:before {
  content: "\e6e3";
}

.icon-tmp:before {
  content: "\e6e4";
}

.icon-wmv:before {
  content: "\e6e5";
}

.icon-vob:before {
  content: "\e6e6";
}

.icon-xls:before {
  content: "\e6e7";
}
